{%- style -%}
    .custom-section {
  padding: 40px;
  text-align: center;
}

.custom-container {
  max-width: 600px;
  margin: auto;
}

.custom-container h2 {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.custom-container p {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
{%- endstyle -%}

<div class="custom-section" style="color: {{ section.settings.font_color }};">

  <div class="custom-container">
    
    {% for block in section.blocks %}
      
      {% case block.type %}

        {% when 'title' %}
          <h2 style="background: {{ block.settings.bg_color }}; color: {{ block.settings.font_color }};">
            Veterinarian-Approved
          </h2>

        {% when 'description' %}
          <p style="background: {{ block.settings.bg_color }}; color: {{ block.settings.font_color }};">
            All products
          </p>

        {% when 'button' %}
          <a href="#" class="btn"
            style="background: {{ block.settings.bg_color }}; color: {{ block.settings.font_color }};">
            View Products
          </a>

      {% endcase %}

    {% endfor %}

  </div>

</div>
      {% schema %}
        {
          "name": "Custom Image Section",
          "class": "custom-image-section",
          "settings": [
            {
              "type": "color",
              "id": "font_color",
              "label": "Font Color",
              "default": "#ffffff"
            }
          ],
          "blocks": [
            {
              "type": "image",
              "name": "Image",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Select Image"
                }
              ]
            },
            {
              "type": "title",
              "name": "Title",
              "settings": [
                {
                  "type": "color",
                  "id": "bg_color",
                  "label": "Background Color",
                  "default": "#e9e9e9"
                }, {
                  "type": "color",
                  "id": "font_color",
                  "label": "Font Color",
                  "default": "#ffffff"
                }
              ]
            },
            {
              "type": "description",
              "name": "Description",
              "settings": [
                {
                  "type": "color",
                  "id": "bg_color",
                  "label": "Background Color",
                  "default": "#e9e9e9"
                }, {
                  "type": "color",
                  "id": "font_color",
                  "label": "Font Color",
                  "default": "#ffffff"
                }
              ]
            },
            {
              "type": "description_title",
              "name": "Description Title",
              "settings": [
                {
                  "type": "color",
                  "id": "font_color",
                  "label": "Font Color",
                  "default": "#ffffff"
                }
              ]
            }, {
              "type": "button",
              "name": "Button",
              "settings": [
                {
                  "type": "color",
                  "id": "bg_color",
                  "label": "Background Color",
                  "default": "#e9e9e9"
                }, {
                  "type": "color",
                  "id": "font_color",
                  "label": "Font Color",
                  "default": "#ffffff"
                }
              ]
            }
          ],
          "presets": [
            {
              "name": "Custom Image Section"
            }
          ]
        }
      {% endschema %}