{% style %}
  .hello-world{
    background-color:{{section.settings.bg_color}}
  }
{% endstyle %}

<h1 class="hello-world" style="color:{{ section.settings.font_color}};">{{ section.settings.title }}</h1>
<div style="text-allign{{section.settings.text_allignment}}">

  {%- for block in section.blocks -%}
    {% case block.type %}
    {% when 'title' %}
      <h2 style="background-color:{{block.settings.bg_color}}; color={{block.settings.font_color}}" >Title</h2>
      {% when 'subtitle' %}
        <h5 style="background-color:{{block.settings.bg_color}}; color={{block.settings.font_color}}">Subtitle</h5>
      {%- endcase -%}
    {%- endfor -%}

    </div>
{% schema %}
{
  "name": "Hello World",
  "class": "hello-world",
  "settings": [
{
  "type": "select",
  "id": "text_allignment",
  "label": "Text Allignment",
  "default": "center",
  "info": "Align you text",
  "options": [
    {
      "value":"left",
      "label":"Left"
    },
    {
      "value":"center",
      "label":"Center"
    },
    {
      "value":"rigth",
      "label":"Rigth"
    }
    
  ]
}
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#e9e9e9"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#fff"
    }
       ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#e9e9e9"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#fff"
    }
   ]
    }
  ],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}